<div class="header" id="header">
  <p>{{rssDate.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) }}</p>
  <p>'The New York Times' | translate </p>
  <p>{{rssChannel.LANGUAGE}}</p>
</div>

<div class="content" role="main">

  <ul>
    <li *ngFor='let item of rssItems'>
      <div class="itemContainer">
        <div class="textContainer">
          <header>{{rssDate.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"}) }}</header>
          <h2>
            <a href={{item.URL}} target="_blank"> {{item.TITLE | translate }}</a>
          </h2>
          <h3>
            <a href={{item.URL}} target="_blank"> {{item.DESCRIPTION | translate}}</a>
          </h3>
          <footer>{{item["DC:CREATOR"]}}</footer>
        </div>
        <div class="imageContainer">
          <a href="{{item.URL}}">
            <img src={{item.imgURL}} alt="label"/>
          </a>
        </div>
      </div>
    </li>
  </ul>


  <!-- Footer -->
  <footer>
  </footer>
